.wizard {
    -webkit-animation: fadeInOpacity .35s;
    animation: fadeInOpacity .35s;
    .menu-btns {
        display: flex;
        justify-content: flex-end;
        margin-right: -0.67rem;

        .end-btn {
            margin-left: 2rem;
        }
    }

    .step1 {
        // margin-right: 1.2rem;
    }

    .step2 {
        margin-right: 0;

        .end-btn {
            margin-left: 16px;
        }
    }

    .governance {
        margin-left: 1.45rem;
    }
}
