<aw-wizard [navBarLayout]="wizzardLayout" class="wizard">

  <div class="row">
    <aw-wizard-step stepTitle="Community Attributes" [navigationSymbol]="{ symbol: '1' }">
      <div class="row">
        <ups-community-attributes (formIsValid)="onChangeFormValidity($event)"
          (isInputFilled)="onInputChange($event)"></ups-community-attributes>
      </div>
      <br>
      <div class="menu-btns step1">
        <button type="button" class="btn btn-secondary">Cancel</button>
        <button type="button" class="btn btn-primary" awNextStep
          [attr.disabled]="isFormFilled ? null : ''">Next</button>
      </div>
    </aw-wizard-step>
  </div>
  <div class="row">
    <aw-wizard-step stepTitle="Manage Members" [navigationSymbol]="{ symbol: '2' }" awOptionalStep>
      <ups-community-manage-members></ups-community-manage-members>
      <br>

      <div class="menu-btns step2">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-primary end-btn" awNextStep>Next</button>
      </div>
    </aw-wizard-step>
  </div>
  <div class="row governance">
    <aw-wizard-step stepTitle="Community Governance" [navigationSymbol]="{ symbol: '3' }">
      <ups-community-governance></ups-community-governance>
      <br>
      <div class="menu-btns step2">
        <button type="button" class="btn btn-secondary" awPreviousStep>Back</button>
        <button type="button" class="btn btn-primary end-btn" (click)="finishFunction()">Save</button>
      </div>
    </aw-wizard-step>
  </div>

</aw-wizard>
