<aw-wizard [navBarLayout]="wizzardLayout" class="wizard">

  <div class="row">
    <aw-wizard-step stepTitle="Community Attributes" [navigationSymbol]="{ symbol: '1' }">
      <div class="row">
        <ups-community-attributes (formIsValid)="onChangeFormValidity($event)"></ups-community-attributes>
      </div>
      <br>
      <div class="end">
        <button type="button" class="btn btn-primary" awNextStep>Next</button>
      </div>
    </aw-wizard-step>
  </div>
  <aw-wizard-step stepTitle="Manage Members" [navigationSymbol]="{ symbol: '2' }" awOptionalStep>
    <ups-manage-members></ups-manage-members>
    <br>

    <div class="end">
      <button type="button" class="btn btn-primary" awPreviousStep>Back</button>
      <button type="button" class="btn btn-primary end-btn" awNextStep>Next</button>
    </div>
  </aw-wizard-step>
  <aw-wizard-step stepTitle="Community Governance" [navigationSymbol]="{ symbol: '3' }">
    <ups-community-governance></ups-community-governance>
    <br>
    <div class="end">
      <button type="button" class="btn btn-primary" awPreviousStep>Back</button>
      <button type="button" class="btn btn-primary end-btn" (click)="finishFunction()">Save</button>
    </div>
  </aw-wizard-step>

</aw-wizard>
