<h3>Select a Community to see more information: </h3>
<ag-grid-angular #savedGrid class="ag-theme-bootstrap" [enableColResize]="true" [rowData]="rowData" 
  [columnDefs]="savedDef" rowSelection="multiple" [animateRows]="true" [suppressRowClickSelection]="true"
  (gridReady)="onGridReady($event)" (selectionChanged)="onSelectionChanged($event)">
</ag-grid-angular>

<div *ngIf="communityDetails" class="details">

  <h3>Community Structure:</h3>
  <h6><span>Type:</span> {{communityObject.communityType.description}}</h6>
  <h6><span>Name:</span> {{communityObject.name}}</h6>
  <h6><span>Description:</span> {{communityObject.description}}</h6>
  <span class="hr"></span>
  <div class="row">
    <div class="col"> 
      <h5>Geo/Service:</h5>
      <h6><span>Country:</span> {{communityObject.geoServices[0].country.name}}</h6>
      <h6><span>District:</span> {{communityObject.geoServices[0].district.name}}</h6>
      <h6><span>State:</span> {{communityObject.geoServices[0].state.name}}</h6>
      <h6><span>SLIC Range Low:</span> {{communityObject.geoServices[0].slicRangeLow}}</h6>
      <h6><span>SLIC Range High:</span> {{communityObject.geoServices[0].slicRangeHigh}}</h6>
      <h6><span>Business Unit:</span> {{communityObject.geoServices[0].businessUnit}}</h6>
      <h6 *ngIf="communityObject.geoServices[0].ground"><span>GND:</span> Yes</h6>
      <h6 *ngIf="communityObject.geoServices[0].three"><span>3DS:</span> Yes</h6>
      <h6 *ngIf="communityObject.geoServices[0].two"><span>2DS:</span> Yes</h6>
      <h6 *ngIf="communityObject.geoServices[0].one"><span>1DA:</span> Yes</h6>
    </div>
    <div class="col"> 
      <h5>Manage Members:</h5>
      <h6><span>Member Name:</span> {{communityObject.members[0].name}}</h6>
      <h6><span>Access Level:</span> {{communityObject.members[0].accessLevel.name}}</h6>

    </div>
    <div class="col"> 
      <h5>Community Governance:</h5>
      <h6><span>Governance Level:</span> {{communityObject.governance[0].state}}</h6>
      <h6><span>Level 1 Approver Name:</span> {{communityObject.governance[0].levelApproverOne}}</h6>
      <h6 *ngIf="communityObject.governance[0].atllevelApproverOne"><span>Alt Level 1 Approver Name:</span> {{communityObject.governance[0].atllevelApproverOne}}</h6>
      <h6><span>Level 2 Approver Name:</span> {{communityObject.governance[0].levelApproverTwo}}</h6>
      <h6 *ngIf="communityObject.governance[0].atllevelApproverTwo"><span>Alt Level 2 Approver Name:</span> {{communityObject.governance[0].atllevelApproverTwo}}</h6>

    </div>
  </div>
</div>
