
  <ul class="tree">
    <li *ngFor="let item of list;let ctr_idx=index" 
        (click)="toggleTree(ctr_idx, $event, 'second', ctr_idx); $event.stopPropagation();" 
        [ngClass]="{'parent': item.country.districts.length > 0, 'show': (!active)?true:toggles2[ctr_idx].value, 'hide':(!active)?false:!toggles2[ctr_idx].value}">
      <input type="checkbox" *ngIf="active" (change)="selectedCheckbox($event.target); $event.stopPropagation();"/>
      {{item.country.name}}
      <ul class="tree" [ngClass]="{'show': (!active)?true:toggles2[ctr_idx].value, 'hide':(!active)?false:!toggles2[ctr_idx].value}">
        <li *ngFor="let district of item.country.districts;let dst_idx=index" 
        (click)="toggleTree(ctr_idx, $event, 'second', ctr_idx, dst_idx); $event.stopPropagation();"
        [ngClass]="{'parent': district.states.length > 0, 'show': (!active)?true:toggles2[ctr_idx].districts[dst_idx].value, 'hide':(!active)?false:!toggles2[ctr_idx].districts[dst_idx].value}">
        <input type="checkbox" *ngIf="active" (change)="selectedCheckbox($event.target); $event.stopPropagation();"/>
        {{district.name}}
        <ul class="tree" [ngClass]="{'show': (!active)?true:toggles2[ctr_idx].districts[dst_idx].value, 'hide':(!active)?false:!toggles2[ctr_idx].districts[dst_idx].value}">
          <li *ngFor="let state of district.states;let st_idx=index">
            <input type="checkbox" [value]="state.id" *ngIf="active" (change)="selectedCheckbox($event.target)"/>{{state.name}}
          </li>
        </ul>
      </li>
    </ul>
      <!--<ng-container *ngIf="item.country.districts.length > 1">-->
      <!--</ng-container>-->
    </li>
  </ul>

