.details {
    padding: 0 0.5rem;
    color: #351c15;
    -webkit-animation: fadeInOpacity .35s;
    animation: fadeInOpacity .35s;
    .communityStructure {
        display: flex;
        justify-content: space-between;
        .structureDetail {
            // margin: 0 0 -1rem 0;
            .title {
                color: #888;
            }
        }
        h6 {
            span {
                color: #351c15;
                // font-weight: 600;
            }
        }
    }

    .stepDetails {
        margin-top: 1rem;
        .stepCol {
            border-right: 1px solid rgba(53, 28, 21, 0.25);
            margin: 1rem 0;
            .row {
                padding: 0 1.5rem;
                .title {
                    color: #888;
                }
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}

.table th, .table td {
    padding: 0.17rem !important;
    vertical-align: inherit !important;
}

.thead {
    background: #351c15;
    color: #FFF;
    // height: 30px !important;
}

.hr {
    display: block;
    height: 1px;
    border-top: 1px solid rgba(53, 28, 21, 0.25);
    margin: 1em 0 1.5em 0;
}
