<div id="governance">
  <h3>East Region Small Package Community - Community Governance</h3>
  <hr>
  <label>GOVERNANCE LEVEL*</label>
  <!-- <ng-select formControlName="community_type" bindLabel="name" bindValue="id" 
    class="selectInput" [items]="communityTypes" [placeholder]="'Select'">
  </ng-select> -->
  
  <select>
    <option> type.name}} </option>
  </select>
  <br>
  <div class="transferContainer">
    <div class="transferBox">
      <div class="boxTitle">Comunity Geography</div>
      <div class="insideBox">
        <app-multi-select [active]="true" [list]="data" (selectedList)="onSelected($event)"></app-multi-select>
      </div>
    </div>
    <div class="btnsContainer">
      <span> <fa name="arrow-right"></fa> </span>
      <span> <fa name="arrow-left"></fa> </span>
    </div>
    <div class="transferBox">
      <div class="boxTitle">Selected Geography</div>
      <div class="insideBox">
        <app-multi-select [active]="false" [list]="secondData" (selectedList)="onSelected($event)"></app-multi-select>
      </div>
    </div>
  </div>
</div>

<ag-grid-angular #governanceGrid
  class="ag-theme-bootstrap" 
  [headerHeight]="headerHeight"
  [enableColResize]="true"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  (gridReady)="onGridReady($event)">
</ag-grid-angular>