$button-blue: #1D79D1;

#governance {
    margin-top: 2rem;

    hr {
        margin: 1rem 0;
    }

    .transferContainer {
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 2rem 6rem;
        .transferBox {
            margin: 0 1rem;
            .boxTitle {
                background: #351c15;
                padding: 0.5rem 0.85rem;
                color: #FFF;
                font-weight: 700;
            }
            .insideBox {
                // padding: 6rem 7rem;
                overflow: scroll;
                height: 12rem;
                width: 14rem;
                border: solid #EEE;
            }
        }

        .btnsContainer {
            display: flex;
            flex-direction: column;
            margin-top: 2rem;
            span {
                margin-top: 2rem;
                font-weight: 900;
                color: #CCC;
                transition: all .17s;
                cursor: pointer;
                &:hover {
                    color: #351c15;
                }
                fa {
                    font-size: 24px;
                }
            }
        }
    }

    .last {
        display: flex;
        justify-content: flex-end;
        margin-top: -6rem;
        padding: 2rem 1rem;
        button {
            &:hover {
                fa {
                    color: #351c15;
                }
            }
        }
        fa {
            font-size: 24px;
            font-weight: 900;
            color: #CCC;
            transition: all .17s;
            cursor: pointer;
        }
    }
}

ag-grid-angular {
    width: 1100px;
}
