#members {
    margin: 4rem 0;

    .end {
        display: flex;
        justify-content: flex-end;
        font-size: .90rem;
        padding-bottom: 0.5rem;
        margin-right: -5rem;
        cursor: pointer;
        transition: all .17s;
        &:hover {
            color: #999;
        }
    }

    ag-grid-angular {
        width: 1200px;
    }

}