 // ng-select {
//     // margin: -0.5rem -0.5rem 0 0;
//     // height: 10px;
//     position: absolute;
// }

select, input {
    padding: 0 0 0 0.25rem !important;
    margin: -1rem 0 0 -0.7rem !important;
    width: 100% !important;
    border-radius: 0;
    border: 0 !important;
    &:focus {
        outline: none !important;;
    }
}

button {
    background: transparent;
    border: 0;
    width: 40px;
    &:focus {
        outline: none;
    }
}

.unselected {
    color: #BBB;
    transition: all .17s;
    &:hover {
        transform: scale(1.17);
    }
}

.selected {
    color: #351C15;
    transition: all .17s;
}
