<span [ngSwitch]="altData">

  <span *ngSwitchCase="'ground'" class="pulse animated">
    <button (click)="groundCheckedSelected()" [ngClass]="groundChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <span *ngSwitchCase="'three'" class="pulse animated">
    <button (click)="threeCheckedSelected()" [ngClass]="threeChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <span *ngSwitchCase="'two'" class="pulse animated">
    <button (click)="twoCheckedSelected()" [ngClass]="twoChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <span>
    <!-- <button (click)="oneCheckedSelected()" [ngClass]="oneChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button> -->
    <input (checked)="onChecked($event)" type="checkbox" name="" id="">
  </span>

</span>