<form [formGroup]="form" #localForm="ngForm" (ngSubmit)="onSubmit()">
  <h3>Community Structure</h3>
  <div class="row">
    <div class="col" [ngClass]="form.get('communityType').hasError('required') && form.get('communityType').touched ? 'colorError' : ''">
      <label> COMMUNITY TYPE*</label>
      <ng-select formControlName="communityType" bindLabel="name" bindValue="id" [items]="communityTypes" class="custom"
        placeholder="Select a type" [loading]="loading">
      </ng-select>
      <h6 *ngIf="form.get('communityType').hasError('required') && form.get('communityType').touched">
        Community type is required*
      </h6>
    </div>

    <div class="col" [ngClass]="form.get('name').hasError('required') && form.get('name').touched ? 'colorError' : ''">
      <label> NAME*</label>
      <div class="form-group">
        <input type="text" class="form-control inputBig" placeholder="Enter Name..." formControlName="name">
        <h6 *ngIf="form.get('name').hasError('required') && form.get('name').touched">
          Name is required*
        </h6>
      </div>
    </div>
    <div class="col" [ngClass]="form.get('description').hasError('required') && form.get('description').touched ? 'colorError' : ''">
      <label> DESCRIPTION*</label>
      <input type="text" class="form-control inputBig" placeholder="Enter Description..." formControlName="description">
      <h6 *ngIf="form.get('description').hasError('required') && form.get('description').touched">
        Description is required*
      </h6>
    </div>
  </div>  
</form>

<h4>Geo/Service*</h4>
<div class="end">
  <button (click)="createNewRowData()" class="emptyBtn" [disabled]="">
    <fa name="plus-circle"></fa>&nbsp; Add Row
  </button>
</div>

<ag-grid-angular #attributesGrid class="ag-theme-bootstrap" [enableColResize]="true" [rowData]="rowData" [columnDefs]="attributesDef"
  (selectionChanged)="onSelectionChanged($event)" rowSelection="multiple" [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)" [animateRows]="true" [suppressRowClickSelection]="true">
</ag-grid-angular>
