
$dark-blue: #0E2554;

form {
    margin: 2rem 0;
}

h3 {
    margin-bottom: 1rem;
}

.end {
    display: flex;
    justify-content: flex-end;
    font-size: .90rem;
    padding: 0.5rem 0;
    // margin-right: 0;
    .emptyBtn {
        background: transparent;
        font-weight: 500;
        color: #666;
        border: 0;
        cursor: pointer;
        transition: all .17s;
        &:hover {
            color: $dark-blue;
            fa {
                color: $dark-blue;
            }
        }
    }
}

.select {
    margin-left: -1.4rem;
    vertical-align: 0;
}

fa {
    font-size: 16px;
    vertical-align: -2px;
    color: #999;
    transition: all .17s;
}

ag-grid-angular {
    width: 1100px;
}

.inputElement {
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 200px;
}

.selectElement {
    
    padding: 0.2rem;
    margin: 0.2rem 0;
}

.borderError {
    border-color: #D11D1F;
}

.colorError {
    label { color: #D11D1F }
    input {
        border-color: #D11D1F;
        &::placeholder {
            color: #D11D1F;
        }
    }
    .ng-select.custom ::ng-deep .ng-select-container {
        border-color: #D11D1F !important;
        .ng-placeholder {
            color: #D11D1F !important;
        }
    }
    h6 { color: #D11D1F }
}

h6 {
    padding: 0.25rem
}