<form [formGroup]="form" #localForm="ngForm" (ngSubmit)="onSubmit()">
  <h3>Community Structure</h3>
  <div class="row">
    <div class="col">
      <label> COMMUNITY TYPE*</label>
      <ng-select formControlName="community_type" bindLabel="name" bindValue="communityTypeId" [items]="communityTypes" class="inputBig"
        placeholder="Select a type" [loading]="loading">
      </ng-select>
    </div>

    <div class="col">
      <label> NAME*</label>
      <div class="form-group">
        <input type="text" class="form-control inputBig" placeholder="Enter Name..." formControlName="name" (keyup)="checkLength($event)">
      </div>
    </div>
    <div class="col">
      <label> DESCRIPTION*</label>
      <input type="text" class="form-control inputBig" placeholder="Enter Description..." formControlName="description"
        (keyup)="checkLength($event)">
    </div>
  </div>
</form>

<h4>Geo/Service</h4>
<div class="end">
  <button (click)="createNewRowData()" class="emptyBtn" [disabled]="">
    <fa name="plus-circle"></fa>&nbsp; Add Row
  </button>
</div>

<ag-grid-angular #attributesGrid class="ag-theme-bootstrap" [enableColResize]="true" [rowData]="rowData" [columnDefs]="attributesDef" 
(selectionChanged)="onSelectionChanged($event)"
rowSelection="multiple"
  [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
</ag-grid-angular>