form {
    margin: 2rem 0;
}

h3 {
    margin-bottom: 1rem;
}

.end {
    display: flex;
    justify-content: flex-end;
    font-size: .90rem;
    padding: 0.5rem 0;
    margin-right: 2rem;
    .emptyBtn {
        background: transparent;
        font-weight: 500;
        border: 0;
        cursor: pointer;
        transition: all .17s;
        &:hover {
            color: #666;
        }
    }
}

.select {
    margin-left: -1.4rem;
    vertical-align: 0;
}

fa {
    font-size: 16px;
    vertical-align: -2px;
    color: #999;
}

ag-grid-angular {
    width: 1100px;
}
