form {
    margin: 4rem 0 2rem 0;
}

label {
    color: #999;
}

.end {
    display: flex;
    justify-content: flex-end;
    font-size: .90rem;
    padding: 0.5rem;
    cursor: pointer;
    transition: all .17s;
    &:hover {
        color: #999;
    }
}

ag-grid-angular {
    width: 1200px;
}
