<!-- <ng-select 
  id="gridSelect"
  [items]="altData.country">
</ng-select> -->

<!-- <select>
  <option *ngFor="let data of rowData">{{data.country}}</option>
</select> -->

<span [ngSwitch]="altData">
  
  <!-- <option value="" disabled selected>Select your option</option> -->

  <select #ddlCountry *ngSwitchCase="'country'" (change)="onCountryChange($event)">
    <option value="" disabled selected>Select</option>
    <option *ngFor="let country of countries"
      [value]="country.id">
      {{country.name}}
    </option>
  </select>
  
  <select #ddlDistrict class="attr-dist-agselect" *ngSwitchCase="'district'" (change)="onDistrictChange($event)">
    <option value="" disabled selected>Select</option>
    <option [value]="district.id" *ngFor="let district of districts">{{district.name}}</option>
  </select>

  <select #ddlState class="attr-state-agselect" *ngSwitchCase="'state'">
    <option value="" disabled selected>Select</option>
    <option [value]="state.id" *ngFor="let state of states">{{state.name}}</option>
  </select>
    
  <select *ngSwitchCase="'slicLow'">
    <option value=""  selected>Select</option>
    <option>slicLow</option>
  </select>
  
  <select *ngSwitchCase="'slicHigh'">
    <option value="" disabled selected>Select</option>
    <option>data.slicHigh}}</option>
  </select>

  <span *ngSwitchCase="'gnd'" class="pulse animated">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>
  
  <span *ngSwitchCase="'threeDs'" class="pulse animated">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>
  
  <span *ngSwitchCase="'twoDs'" class="pulse animated">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <span *ngSwitchCase="'oneDs'" class="pulse animated">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <select *ngSwitchDefault>
    <option value="" disabled selected>Select</option>
    <option>default</option>
  </select>

</span>
