<!-- <ng-select 
  id="gridSelect"
  [items]="altData.country">
</ng-select> -->

<!-- <select>
  <option *ngFor="let data of rowData">{{data.country}}</option>
</select> -->


<span [ngSwitch]="altData">
  
  <!-- <option value="" disabled selected>Select your option</option> -->

  <select *ngSwitchCase="'country'">
    <option value="" disabled selected>Select</option>
    <option *ngFor="let country of countries">{{country.name}}</option>
  </select>
  
  <select *ngSwitchCase="'district'">
    <option value="" disabled selected>Select</option>
    <option *ngFor="let district of districts">{{district.name}}</option>
    <!-- <option [(ngModel)]="">district</option> -->
  </select>

  <select *ngSwitchCase="'state'">
    <option value="" disabled selected>Select</option>
    <option *ngFor="let state of states">{{state.name}}</option>
  </select>
    
  <select *ngSwitchCase="'slicLow'">
    <option value="" disabled selected>Select</option>
    <option>slicLow</option>
  </select>
  
  <select *ngSwitchCase="'slicHigh'">
    <option value="" disabled selected>Select</option>
    <option>data.slicHigh}}</option>
  </select>

  <select *ngSwitchCase="'slicHigh'">
    <option value="" disabled selected>Select</option>
    <option>data.slicHigh}}</option>
  </select>

  <span *ngSwitchCase="'gnd'">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>
  
  <span *ngSwitchCase="'threeDs'">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>
  
  <span *ngSwitchCase="'twoDs'">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <span *ngSwitchCase="'oneDs'">
    <button (click)="selected()" 
      [ngClass]="checkmark ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <select *ngSwitchDefault>
    <option value="" disabled selected>Select</option>
    <option>default</option>
  </select>

</span>
