<span [ngSwitch]="altData">
  
  <!-- <option value="" disabled selected>Select your option</option> -->
    
  <span *ngSwitchCase="'slicLow'">
    <input type="number" placeholder="" min="1000" [max]="slicHigh" step="50" [(ngModel)]="slicLow" (change)="slicLowChange($event.srcElement.value)" />
  </span>
  
  <span *ngSwitchCase="'slicHigh'">
    <input type="number" placeholder="" [min]="slicLow" max="6000" step="50" [(ngModel)]="slicHigh" (change)="slicHighChange($event.srcElement.value)" />
  </span>

  <span *ngSwitchCase="'gnd'" class="pulse animated">
    <button (click)="groundCheckedSelected()" 
      [ngClass]="groundChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>
  
  <span *ngSwitchCase="'threeDs'" class="pulse animated">
    <button (click)="threeDsCheckedSelected()" 
      [ngClass]="threeDsChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>
  
  <span *ngSwitchCase="'twoDs'" class="pulse animated">
    <button (click)="twoDsCheckedSelected()" 
      [ngClass]="twoDsChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <span *ngSwitchCase="'oneDs'" class="pulse animated">
    <button (click)="oneDsCheckedSelected()" 
      [ngClass]="oneDsChecked ? 'selected' : 'unselected'">
      <fa name="check"></fa>
    </button>
  </span>

  <select *ngSwitchDefault>
    <option value="" disabled selected>Select</option>
    <option>default</option>
  </select>

</span>
