<div id="members">
    <h3 #h3Title>East Region Small Package Community - Manage Members</h3>
    <div class="end">
        <button #btnAddRow (click)="createNewRowMembersData()" class="emptyBtn">
      <fa #fontPlusCircle name="plus-circle"></fa>&nbsp; <span #spanAddRow>Add Row</span>
    </button>
    </div>
</div>

<ag-grid-angular #membersGrid class="ag-theme-bootstrap" [rowData]="rowData" [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
</ag-grid-angular>

<!-- 
  [animateRows]="true"
  [enableFilter]="true"
  [enableColResize]="true"
  [rowDragManaged]="true"
  [defaultColDef]="defaultColDef" 
  [headerHeight]="headerHeight"
-->