<div id="members">
    <h3>{{title}}</h3>
    <div class="end">
        <button #btnAddRow (click)="createNewRowMembersData()" class="emptyBtn">
      <fa name="plus-circle"></fa>&nbsp; {{lblAddRow}}
    </button>
    </div>
</div>

<ag-grid-angular #membersGrid class="ag-theme-bootstrap" [rowData]="rowData" [columnDefs]="columnDefs" [frameworkComponents]="frameworkComponents" (gridReady)="onGridReady($event)">
</ag-grid-angular>

<!-- 
  [animateRows]="true"
  [enableFilter]="true"
  [enableColResize]="true"
  [rowDragManaged]="true"
  [defaultColDef]="defaultColDef" 
  [headerHeight]="headerHeight"
-->