<div id="members">
  <h3>East Region Small Package Community - Manage Members</h3>
  <div class="end">
    <button (click)="createNewRowMembersData()" class="emptyBtn">
      <fa name="plus-circle"></fa>&nbsp; Add Row
    </button>
  </div>
</div>

<ag-grid-angular #membersGrid
  class="ag-theme-bootstrap"
  [rowData]="rowData" 
  [columnDefs]="columnDefs"
  [frameworkComponents]="frameworkComponents"
  (gridReady)="onGridReady($event)"
  (selectionChanged)="onSelectionChanged($event)"
  [suppressRowClickSelection]="true"
  [animateRows]="true"
  rowSelection="multiple">
</ag-grid-angular>

<!-- 
  [animateRows]="true"
  [enableFilter]="true"
  [enableColResize]="true"
  [rowDragManaged]="true"
  [defaultColDef]="defaultColDef" 
  [headerHeight]="headerHeight"
-->
