<div *ngIf="!communities" class="notFound">
  <h1 class="title">No communities found!</h1>
  <span>
    please
    <a routerLink="/commmunity/create" class="link">create a community here</a>
    first.
  </span>
</div>

<div *ngIf="communities">
  <!-- Community Card -->
  <div *ngFor="let community of communities; let i = index" class="commmunityCard">
    <h4 class="cardTitle">{{community.name}}</h4>

    <div class="subtitles">
      <div class="subtitlesSection">
        <h6 class="title">Date Created</h6>
        <h6>{{community.createdAt * 1000 | date: 'dd/MM/yyyy - HH:mm'}}</h6>
      </div>
      <div class="subtitlesSection">
        <h6 class="title">Governance Level</h6>
        <h6>{{community.governanceLevel.name}}</h6>
      </div>
      <div class="subtitlesSection">
        <h6 class="title">Member Count</h6>
        <h6>{{community.memberQty}}</h6>
      </div>
      <div class="subtitlesSection">
        <!-- <h6 class="title">Access Level</h6>
        <h6> View and Edit</h6> -->
      </div>
      <div class="subtitlesSection" id="{{i}}">
        <button class="link fadeIn" (click)="showMore(community.id)" *ngIf="communityId !== community.id">
          Show More <span class="rotateIcon" class="fas fa-chevron-down"></span>
        </button>
        <button class="link fadeIn" (click)="showLess()" *ngIf="communityId == community.id">
          Show Less <span class="rotateIcon" class="fas fa-chevron-up"></span>
        </button>
      </div>
    </div>

    <!-- Community Card Details -->
    <ups-communities-details *ngIf="communityId == community.id" [communityId]="community.id">
    </ups-communities-details>

  </div>  
</div>
