.notFound {
    margin-top: 8rem;
    text-align: center;
    -webkit-animation: fadeInOpacity .25s;
    animation: fadeInOpacity .25s;
}

.commmunityCard {
    border: 1px solid rgba(53, 28, 21, 0.25);
    border-radius: 5px;
    margin: 1.37rem 0;
    padding: 1rem 0.67rem;
    box-shadow: 1px 1px 4px #ddd;
    -webkit-animation: fadeInOpacity .25s;
    animation: fadeInOpacity .25s;
    transition: all .17s;
    &:last-child {
        border-bottom: 1px solid rgba(53, 28, 21, 0.25);
        margin-bottom: 3rem;
    }
    &:hover {
        // background: rgba(29, 121, 209, 0.067);
        box-shadow: 2px 4px 12px #ddd;
    }
    // padding: 2rem;

    .cardTitle {
        border-bottom: 1px solid rgba(53, 28, 21, 0.1);
        padding: 0 1rem 0.67rem 1rem;
        text-transform: capitalize;
    }

    .subtitles {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.75rem;
        .subtitlesSection {
            .title {
                color: #888;
                text-transform: uppercase;
            }
        }
    }
}

.col {
    // border: 1px solid rgba(53, 28, 21, 0.25);
    // border-radius: 2px;
    // box-shadow: 1px 0 0 rgba(53, 28, 21, 0.25);
    // padding: 1.5rem;
    margin: 0.5rem;
    h5 {
        text-align: center;
        font-size: 1.5rem;
        padding: 0.5rem 0;
    }
}

.link {
    color: #1D79D1 !important;
    font-weight: 600 !important;
    cursor: pointer;
    transition: all .17s;
    &:hover {
        color: #0E2554 !important;
        transform: scale(1.05);
    }
    &:focus {
        outline: none;
    }
}

.rotateIcon {
    transform: rotate(180deg) !important;
}

a {
    text-decoration: none;
}

.rotate {
    -webkit-animation: rotateAnimation .7s;
    animation: rotateAnimation .7s;
}

@keyframes rotateAnimation {
    from { 
        transform: rotate(90deg);
    }
    to { 
        transform: rotate(0);
    }
}

@-webkit-keyframes rotateAnimation {
    from { 
        transform: rotate(90deg);
    }
    to { 
        transform: rotate(0);
    }
}
