.notFound {
    margin-top: 8rem;
    text-align: center;
}

.commmunityCard {
    border-top: 1px solid rgba(53, 28, 21, 0.25);
    border-bottom: 1px solid rgba(53, 28, 21, 0.25);
    // padding: 2rem;

    .cardTitle {
        border-bottom: 1px solid rgba(53, 28, 21, 0.25);
        padding: 1rem 0;
        text-transform: capitalize;
    }

    .subtitles {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 0.75rem;
        .subtitlesSection {
            .title {
                color: #888;
                text-transform: uppercase;
            }
        }
    }
}

.details {
    margin-top: 1rem;
    color: #351c15;
    animation: fadeIn .75s;
    .communityStructure {
        display: flex;
        justify-content: space-between;
        padding: 0 0.5rem;
        .structureDetail {
            margin: 0 0 -1rem 0;
            padding: 0 0.17rem;
        }
        h6 {
            span {
                color: #351c15;
                // font-weight: 600;
            }
        }
    }

    .stepDetails {
        margin-top: -1rem;
        .stepCol {
            border-right: 1px solid rgba(53, 28, 21, 0.25);
            &:last-child {
                border-right: 0;
            }
        }
    }
}

.hr {
    display: block;
    height: 1px;
    border-top: 1px solid rgba(53, 28, 21, 0.25);
    margin: 1.5em 0;
}

.col {
    // border: 1px solid rgba(53, 28, 21, 0.25);
    // border-radius: 2px;
    // box-shadow: 1px 0 0 rgba(53, 28, 21, 0.25);
    // padding: 1.5rem;
    margin: 0.5rem;
    h5 {
        text-align: center;
        font-size: 1.5rem;
        padding: 1rem 0;
    }
}

.link {
    color: #1D79D1 !important;
    font-weight: 600 !important;
    cursor: pointer;
    transition: all .17s;
    &:hover {
        color: #0E2554;
    }
}

.title {
    color: #888;
    text-transform: uppercase;
}

@keyframes fadeIn {
    0% { 
        height: 0;
        opacity: 0;
    }
    100% { 
        height: 100%;
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% { 
        height: 0;
        opacity: 0;
    }
    100% { 
        height: 100%;
        opacity: 0;
    }
}