/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~font-awesome/css/font-awesome.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

$ag-icons-path:"../node_modules/ag-grid-community/src/styles/icons/";
$odd-row-background-color: rgba(213, 228, 224, 0.507);
// $border-color: #FF0000;
$header-background-color: #351C15;
$secondary-foreground-color: white;
$font-size: 16px;
$button-blue: #1D79D1;



// // // // // //
// Default Elements
// // // // // //



* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
}

input, select {
    padding: 0.5rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border: 1px solid #CCC;
    width: 150px;
}

label {
    color: #999;
}

hr {
    background: #CCC;
    height: 1px;
    border: 0;
}

select {
    // -webkit-appearance: none;
    // -moz-appearance: none;
    // appearance: none;
}

select::-ms-expand {
    display: none;
}

.inputBig {
    width: 324px;
}

.btn {
    border: 0;
    padding: 8px;
    margin: 16px 0 16px 16px;
    min-width: 49px;
    border-radius: 3px;
    font-weight: 600;
}

.btn-primary {
    background: $button-blue;
    color: #FFF;
    transition: all .17s;
    &:hover {
        background: rgba(29, 121, 209, 0.67);
        border: 1px solid $button-blue;
    }
}

.btn-secondary {
    background: transparent;
    border: 1px solid $button-blue;
    color: $button-blue;
    transition: all .17s;
    &:hover {
        background: rgba(29, 121, 209, 0.067);
        border: 1px solid $button-blue;
    }
}


@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-bootstrap.scss";

// // // // // //
// AW Wizard
// // // // // //

/*Overwriting step 2*/
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.optional:after {
    color: #B4B4B4 !important;
    background-color: #E1E1E1 !important;
    border: 1px solid #B4B4B4 !important;
}

// Circle number 
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li:after {
    color: #B4B4B4 !important;
    background-color: #E1E1E1 !important;
    border: 1px solid #B4B4B4 !important;
    line-height: 1.35rem !important;
    width: 1.67rem !important;
    height: 1.67rem !important;
    font-size: 0.85rem;
    // font-weight: 600;
}

// Name below number
aw-wizard-navigation-bar.horizontal ul.steps-indicator li div a {
    text-transform: none !important;
    font-size: 12px !important;
    font-weight: 600 !important;
    line-height: 0 !important;
    margin-top: -1.25rem !important;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li:not(:last-child):before {
    top: -2.4rem !important;
    left: 12.5rem !important;
    height: 4px !important;
}

/*The current step*/
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current:after{
    color: white !important;
    background-color: $button-blue !important;
    border: 2px solid $button-blue !important;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.current div a {
    color: $button-blue !important;
}

/*Going one step back*/
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.editing:after {
    color: white !important;
    background-color: $button-blue !important;
    border: 2px solid $button-blue !important;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.editing div a {
    color: $button-blue !important;
}

/*The past step*/
aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done:after {
    color: white !important;
    background-color: #4EC877 !important;
    border: 2px solid #4EC877 !important;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li.done:not(:last-child):before {
    background-color: #4EC877 !important;
}

aw-wizard-navigation-bar.horizontal ul.steps-indicator li.done div a {
    color: #4EC877 !important;
}

// // // // // //
// AG Grid
// // // // // //

// Ag Grid Header
.ag-theme-bootstrap .ag-header-cell-label .ag-header-cell-text {
    font-weight: 500;
}

.ag-theme-bootstrap .ag-header-cell {
    border-right: 1px solid #fff;
    &:last-child {
        border-right: 0;
    }
}


/*

ul.steps-indicator {

    li::before {
        background-color: red !important;
    }

    li:first-child::before {
        background-color: green !important;
    }

}

*/